/* SchedulePage.css */
.fc-timegrid-slot {
  height: 50px !important; /* Increase the slot height */
  background-color: rgba(0, 0, 0, 0.03); /* Light background */
}

.fc-view-harness {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.fc-event {
  height: 100% !important;
}

.fc-timegrid-event {
  top: 0 !important;
  bottom: 0 !important;
  box-shadow: none !important;
}

.fc-daygrid-event {
  top: 0 !important;
  bottom: 0 !important;
  box-shadow: none !important;
}

.fc-scrollgrid-sync-inner {
  background-color: white; /* Default light mode */
}

html.dark .fc-scrollgrid-sync-inner {
  background-color: #1f2937; /* Equivalent to Tailwind's bg-gray-800 */
}

.event-content-grid {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3px;
}

.event-content {
  height: 100%;
  width: 100%;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.event-team {
  overflow: hidden;
  white-space: nowrap;
  max-width: 100%;
}

.legend {
  display: flex;
  align-items: center;
  gap: 10px;
}

.legend-item {
  display: flex;
  align-items: center;
  gap: 5px;
}

.legend-color {
  width: 15px;
  height: 15px;
  border-radius: 3px;
}

.legend-field1 {
  background-color: #ffedd5; /* Orange for Field 1 */
}

.legend-field2 {
  background-color: #cffafe; /* Cyan for Field 2 */
}

.legend-field3 {
  background-color: #f3e8ff; /* Purple for Field 3 */
}

.legend-game-played {
  background-color: #d1d5db; /* Light gray for games played */
}

.legend-full-slot {
  background-color: #fee2e2; /* Red for game already being played in slot */
}

.legend-free-slot {
  background-color: #dbeafe; /* Blue for available slot */
}

.legend-chosen-slot {
  background-color: #dcfce7; /* Green for chosen game slot */
}

.legend-rescheduled-teams {
  background-color: #fef9c3; /* Green for chosen game slot */
}
