.column-name {
  width: 25%;
  min-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.division-table {
  display: flex;
  width: 50%;
}

.right-box {
  border: 1px solid;
  padding: 20px;
  height: 100%;
  text-align: left;
  overflow: auto;
}

.right-half {
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
}
