.column-name {
  width: 25%;
  min-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.column-wins,
.column-losses,
.column-ties,
.column-forfeits .column-differential {
  width: 15%;
  min-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
