@tailwind base;
@tailwind components;
@tailwind utilities;

.centered-container {
    display: flex;
    flex-direction: column;  /* Stack elements vertically */
    justify-content: center; /* Center elements vertically */
    align-items: center;     /* Center elements horizontally */
    height: 70vh;            /* Adjust height */
    text-align: center;
    gap: 1.5rem;             /* Adds spacing between elements */
}
