@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.centered-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align items starting from the top */
    align-items: center;
    height: 70vh;            /* Adjust height */
    text-align: center;
    gap: 1.5rem;             /* Adds spacing between elements */
    padding-top: 1rem;       /* Adds padding for spacing between header and form */
}
  