/* Waiver.module.css */
.waiver {
  margin-top: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  width: 100%; /* Ensure it doesn’t stretch */
  max-width: 650px; /* Match the inputGroup */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputGroupContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Space between input groups */
  width: 100%;
  margin-bottom: 15px; /* Optional: add some vertical spacing between containers */
}

.inputGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  max-width: 300px;
}

.inputGroup label {
  margin-top: 10px; 
  margin-bottom: 10px; /* Add space below the label */
  font-size: 0.9rem; /* Optional: slightly reduce label font size if desired */
}
  
/* Input Fields */
.input {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.waiver h3 {
  margin-bottom: 10px;
}

.waiver p {
  font-size: 14px;
  color: #555;
}