.container {
  display: flex;
  width: 100%;
}

.left-half {
  width: 50%;
}

.right-half {
  width: 50%;
  padding-left: 0;
  height: calc(100% - 62px);
  position: fixed;
  right: 0;
  bottom: 0;
  overflow-y: auto;
}

.column-name {
  width: 25%;
  min-width: 150px; 
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.division-table {
  display: flex;
  width: 50%
}

.right-box {
  padding: 20px;
  height: 100%;
}